<p>employee works!</p>
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button" (click)="openPopup()">Add Employee</button>
  </div>

<div class="container">
   employee-list.component.html 

<h2>Employee List</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Skill Count</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Date of Birth</th>
      <th>Education</th>
      <th>Experience</th>
      <th>Salary</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of empService.getEmployeeList()">
      <td>{{ emp.id }}</td>
      <td>{{emp.skils}}</td>
      <td>{{ emp.firstName }}</td>
      <td>{{ emp.lastName }}</td>
      <td>{{ emp.email }}</td>
      <td>{{ emp.dob | date }}</td>
      <td>{{ emp.education }}</td>
      <td>{{ emp.experience }}</td>
      <td>{{ emp.salary | currency:'USD':'symbol':'1.2-2' }}</td>
      <td>
        <div class="button-container">
          <button type="button" class="edit-button" (click)="editEmpDetails(emp.id)">
            <i class="fas fa-pencil-alt"></i> Edit
          </button>
          <button type="button" class="delete-button" (click)="deleteEmp(emp.id)">
            <i class="fas fa-trash-alt"></i> Delete
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

</div>


