<!-- <app-login *ngIf="!isLoginVisible "  (event)="loginStatusrecieveFromChild($event)"></app-login>
<app-navbar *ngIf="isLoginVisible" (event)="loginStatusFromNav($event)"></app-navbar>
<app-cards *ngIf="isLoginVisible && !(currentRoute === 'calculator' || currentRoute === 'employees' || currentRoute === 'todolit')"></app-cards>
<router-outlet (activate)="onRouteActivate($event)"></router-outlet> -->


<!-- <app-login    (event)="loginStatusrecieveFromChild($event)"></app-login>
<app-navbar (event)="loginStatusFromNav($event)"></app-navbar>
<app-cards *ngIf="!(currentRoute === 'calculator' || currentRoute === 'employees' || currentRoute === 'todolit')"></app-cards> -->


<!-- <app-login    (event)="loginStatusrecieveFromChild($event)"></app-login> -->
<app-navbar (event)="loginStatusFromNav($event)"></app-navbar>
<!-- <app-cards ></app-cards> -->


